<h1>Change Notification Settings</h1>

<%= form_for @notification_form, url: notification_settings_path, method: :post do |f| %>
  <% if @notification_form.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @notification_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :value => @email %>
  </div>

  <label for="turn-off-all">Do not email me</label>
  <input id="shutoff" type="checkbox" name="turn-off-all" value="false"><br />

  <%= f.hidden_field :token, :value => @token_string %>
  <%= f.hidden_field :original_email, :value => @email %>


  <div class="field">
    <%= f.label :marketing %>
    <%= f.check_box :marketing, {class: "notification", checked: true}  %> <br />
  </div>
  <div class="field">
    <%= f.label :articles %>
    <%= f.check_box :articles, {class: "notification", checked: true} %> <br />
  </div>
  <div class="field">
    <%= f.label :digest %>
    <%= f.check_box :digest, {class: "notification", checked: true} %> <br />
  </div>

  <%= f.submit "Update notification settings" %>

<% end %>

<%= console %>
