<h1>Users</h1>
<p id="notice head-space"><%= notice %></p>
<div class="row justify-content-lg-center head-space">


  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Marketing</th>
        <th>Articles</th>
        <th>Digest</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to raw('<span class="fa fa-trash"></span>'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.marketing %>
              <span class="fa fa-check yes"></span>
            <% else %>
              <span class="fa fa-ban no"></span>
            <% end %>
          </td>
          <td>
            <% if user.articles %>
              <span class="fa fa-check yes"></span>
            <% else %>
              <span class="fa fa-ban no"></span>
            <% end %>
          </td>
          <td>
            <% if user.digest %>
              <span class="fa fa-check yes"></span>
            <% else %>
              <span class="fa fa-ban no"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
<%= link_to 'New User', new_user_path, class: "btn information-btn center" %>
