<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :marketing %> <br />
    <%= f.check_box :marketing %> <br />
  </div>
  <div class="field">
    <%= f.label :articles %> <br />
    <%= f.check_box :articles %> <br />
  </div>
  <div class="field">
    <%= f.label :digest %> <br />
    <%= f.check_box :digest %> <br />
  </div>

<% end %>
