<p id="notice"><%= notice %></p>
<%= link_to raw('<span class="fa fa-chevron-left"></span>'), users_path, class: "btn information-btn" %>
<img class="img-thumbnail profile-pic " src="http://www.opinionsup.com/images/default-profile-picture_new.png" alt="default profile">
<div class="row profile">

  <p class="col-sm-12 no-bot-margin">
    <strong class="profile-info"><%= @user.name %></strong>
  </p>
  <p class="col-sm-12 profile-info">
    <%= @user.email %>
  </p>


  <div class="col-sm-12">


    <span class="notification-cat">
      <strong>Marketing</strong><br/>
      <% if @user.marketing %>
        <span class="fa fa-check yes"></span>
      <% else %>
        <span class="fa fa-ban no"></span>
      <% end %>
    </span>

    <span class="notification-cat">
      <strong>Articles</strong><br/>

      <% if @user.articles %>
        <span class="fa fa-check yes"></span>
      <% else %>
        <span class="fa fa-ban no"></span>
      <% end %>
    </span>

    <span class="notification-cat">
      <strong>Digest</strong><br/>
      <% if @user.digest %>
        <span class="fa fa-check yes"></span>
      <% else %>
        <span class="fa fa-ban no"></span>
      <% end %>
    </span>

    <div class="col-sm-12 head-space">
      <%= link_to 'Edit notification settings', notification_settings_path(:email => @user.email, :token => @token.nonce), class: "btn information-btn" %>

    </div>

  </div>



</div>
